@using System.Web.Configuration
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/cvf")
    @Scripts.Render("~/bundles/mtools")
</head>
<body class="ibiza-body">
    <div class="ibiza-top-bar">
        <header>Microsoft Azure</header>
        <div class="ibiza-separator"></div>
        <div class="ibiza-breadcrumb">
            <div class="ibiza-btn-down">
                <div class="ibiza-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><path d="M8,10.198l5.471-5.465L14,5.262l-6,6.006L2,5.262l0.529-0.529L8,10.198z"></path></svg>
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="ibiza-content">
        <div class="ibiza-left-shell">
            <div class="ibiza-content-left">
                <button class="ibiza-btn-expand">
                    <div class="ibiza-icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><rect y="3" width="16" height="1"></rect><rect y="7" width="16" height="1"></rect><rect y="11" width="16" height="1"></rect></svg>
                    </div>
                </button>
                <table class="ibiza-table-menu">
                    <tbody>
                        <tr>
                            <td class="ibiza-logo-td">
                                <div class="ibiza-icon">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16; fill:#7FBA00;" xml:space="preserve"><rect y="7" width="16" height="2"></rect><rect x="7" width="2" height="16"></rect></svg>
                                </div>
                            </td>
                            <td class="ibiza-name-td">Create</td>
                        </tr>
                        <tr>
                            <td class="ibiza-logo-td"></td>
                            <td class="ibiza-name-td">Resource groups</td>
                        </tr>
                        <tr>
                            <td class="ibiza-logo-td"></td>
                            <td class="ibiza-name-td">Virtual Machines</td>
                        </tr>
                        <tr>
                            <td class="ibiza-logo-td"></td>
                            <td class="ibiza-name-td">Web apps</td>
                        </tr>
                        <tr>
                            <td class="ibiza-logo-td"></td>
                            <td class="ibiza-name-td">Databases</td>
                        </tr>
                        <tr>
                            <td class="ibiza-logo-td"></td>
                            <td class="ibiza-name-td">Billing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cvf-content" style="visibility: hidden !important;">
            <div class="cvf-content-panorama">
                <div class="cvf-content-home">
                    @RenderBody()
                </div>
                <div class="cvf-content-body">
                </div>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
